<mat-toolbar class="mat-elevation-z2 m-15" color="secondary">
  <h2>{{ action }} User</h2>
  <span class="fill-space"></span>
</mat-toolbar>

<mat-card class="mat-elevation-z2 m-15">
  <form #userForm="ngForm" (ngSubmit)="save(userForm.value)">
    <mat-card-content>
      <input type="hidden" name="id" [(ngModel)]="user.id">
      <mat-form-field>
        <input matInput placeholder="User Name" [(ngModel)]="user.username" required name="username" #username>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="user.firstname" required name="firstname" #firstname>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="user.lastname" required name="lastname" #lastname>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Enter user password" [(ngModel)]="user.password" required name="password" #password>
      </mat-form-field>
  </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.form.valid">Save</button>
      <a mat-button routerLink="/users">Cancel</a>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </form>
</mat-card>
