<mat-toolbar class="mat-elevation-z2 m-15" color="secondary">
  <h2>{{ action }} Payment</h2>
  <span class="fill-space"></span>
</mat-toolbar>

<mat-card class="mat-elevation-z2 m-15">
  <form #paymentForm="ngForm" (ngSubmit)="save(paymentForm.value)">
    <mat-card-content>
      <input type="hidden" name="id" [(ngModel)]="payment.id">

      <mat-form-field>
        <input matInput placeholder="Amount" [(ngModel)]="payment.amount" required name="amount" #amount>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Auth Code" [(ngModel)]="payment.authcode" required name="authcode" #authcode>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Currency" [(ngModel)]="payment.currency" required name="currency" #currency>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Captured" [(ngModel)]="payment.captured" required name="captured" #captured>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Type" [(ngModel)]="payment.type" required name="type" #type>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!paymentForm.form.valid">Save</button>
      <a mat-button [routerLink]="['/patients', patientId]">Cancel</a>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </form>
</mat-card>
