<mat-toolbar class="mat-elevation-z2 m-15" color="secondary">
  <h2>Patients</h2>
  <span class="fill-space"></span>
  <button mat-icon-button [routerLink]="['/patients/add']"><mat-icon color="primary" class="md-36">add_circle</mat-icon></button>
</mat-toolbar>

<mat-card class="mat-elevation-z2 m-15">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Find Patients...">
  </mat-form-field>
</mat-card>

<mat-table [dataSource]=dataSource matSort class="mat-elevation-z2 m-15">
  <ng-container matColumnDef="firstname">
    <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstname}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="middlename">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.middlename}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastname">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastname}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="city">
    <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.city}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.state}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ssn">
    <mat-header-cell *matHeaderCellDef mat-sort-header> SSN </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ssn | mask:'front':7 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button [routerLink]="['/patients/', element.id]"><mat-icon class="md-24">remove_red_eye</mat-icon></button>
        <button mat-icon-button [routerLink]="['/patients/edit', element.id]"><mat-icon class="md-24">edit</mat-icon></button>
      <button mat-icon-button (click)="remove(element.id)"><mat-icon class="md-24">cancel</mat-icon></button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator class="mat-elevation-z2 m-15" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
