[Unit]
Description=app-api
After=syslog.target

[Service]
User=ec2-user
ExecStart=/home/ec2-user/app-api.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
